*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  outline: 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  background-color: #b71c1c;
}

#container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#clock {
  width: 450px;
  display: flex;
  min-height: 650px;
  align-items: center;
  border-radius: 16px;
  border-radius: 26px;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(145deg, #c41e1e, #a51919);
  box-shadow: 5px 5px 10px #a31919, -5px -5px 10px #cb1f1f;
}

#container h4 {
  color: #b71c1c;
  font-weight: 600;
  margin-bottom: 20px;
}

#buttons {
  display: flex;
  color: #f3e5f5;
  flex-direction: row;
}

#timer-label {
  width: 350px;
  height: 350px;
  display: flex;
  color: #f3e5f5;
  border-radius: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(-145deg, #c41e1e, #a51919);
  box-shadow: 5px 5px 9px #a71919, -5px -5px 9px #c71f1f;
}

#break-label {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#break {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  font-weight: 600;
  align-items: center;
}

#session-label {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#session {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  align-items: center;
  font-weight: 600;
}

#time-left {
  font-size: 90px;
  font-weight: 700;
}

#start_stop {
  font-size: 50px;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(-145deg, #c41e1e, #a51919);
  box-shadow: 6px 6px 11px #9d1818, -6px -6px 11px #d12020;
  margin-right: 10px;
}

#reset {
  font-size: 50px;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(-145deg, #c41e1e, #a51919);
  box-shadow: 6px 6px 11px #9d1818, -6px -6px 11px #d12020;
  margin-left: 10px;
}

#break-increment {
  cursor: pointer;
}

#break-decrement {
  cursor: pointer;
}

#session-increment {
  cursor: pointer;
}

#session-decrement {
  cursor: pointer;
}

#title {
  margin: 40px;
  min-width: 85%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #ef5350;
}
